
$color: #000;

.rule-d {
    border: 1px solid $color;
    margin: 0;
    padding: 0;
}

.rule-e {
    border: 1px solid $color;
    margin: 0;
    padding: 0;
}

.rule-f {
    border: 1px solid $color;
    margin: 0;
}
