$color: #000;

.rule-a {
    border: 1px solid $color;
    margin: 0;
    padding: 0;
}

.rule-b {
    border: 1px solid $color;
    margin: 0;
    padding: 0;
}

.rule-c {
    border: 1px solid $color;
    margin: 0;
}
